/build/
/target/
test-output/

/target/
# Eclipse 관련
.project
.classpath
.settings/
bin/

# Maven/Gradle build output
target/
build/

# OS/에디터 별 불필요한 파일
.DS_Store
Thumbs.db

# Logs & Reports
*.log
test-output/              # TestNG 기본 결과 폴더
surefire-reports/        # Maven Surefire plugin
*.class

# IntelliJ 사용 시 (혹시 병행하는 경우)
.idea/
*.iml
out/

# 환경설정 파일 (개인 PC 환경 차이 방지용)
.env
*.properties

*.dtd